:root {
  --dark: #1C1B21;
  --light: #fff;
  --violet: #7A66CC;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0;
  line-height: 0;
  background-image: url('../img/musician-back.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--dark);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}

a {
  cursor: pointer;
	text-decoration: none;
  color: var(--light);
}

img {
  display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--light);
}

p {
  margin: 0;
  color: var(--light);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 0;
}

button {
  background: transparent;
  border-style: none;
}

blockquote {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  padding-top: 42px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin-bottom: 322px;
}

.logo-pic {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 65px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  min-height: 27px;
}

.nav-item:not(:last-child) {
  margin-right: 56px;
}

.nav-link,
.nav-link:active {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--light);
  opacity: 0.7;
}

/* intro */

main {
  width: 1110px;
  margin: 0 auto;
}

#intro .container {
  margin-bottom: 130px;
  width: 100%;
}

.intro-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.audio-title {
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 150px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--light);
}

audio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.player-container {
  --seek-before-width: 0%;
  --buffered-width: 0%;
  position: relative;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.play,
.pause {
  margin-right: 45px;
  width: 27px;
  height: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.play {
  background-image: url('../img/play-button.svg');
  background-repeat: no-repeat;
}

.pause {
   background-image: url('../img/pause-button.svg');
   background-repeat: no-repeat;
}

.timeline {
  -webkit-appearance: none;
     -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  width: 887px;
  height: 50px;
  background-color: transparent;
  background-image: url('../img/seek-time.svg');
  background-image: url('../img/seek-time-violet.svg');
  background-size: 0% 100%;
  background-repeat: no-repeat;
  z-index: 100;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 887px;
  height: 1px;
  cursor: pointer;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 2px;
  height: 20px;
  background-color: var(--violet);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  cursor: pointer;
}

.timeline::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  width: 2px;
  height: 20px;
  background-color: var(--violet);
  -moz-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
 }

.timeline::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.timeline::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.timeline::-ms-track {
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.current-time,
.dash,
.duration-time {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
}

/* news */

#news .container {
  margin-bottom: 179px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  justify-content: flex-end;
  width: 350px;
  min-height: 300px;
  background-repeat: no-repeat;
  border-radius: 20px 0px;
}

.news-item:not(:last-child) {
  margin-right: 30px;
}

.news-item:first-child {
  background-image: url('../img/first.png');
}

.news-item:nth-child(2) {
  background-image: url('../img/second.png');
}

.news-item:last-child {
  background-image: url('../img/third.png');
}

.news {
  width: 350px;
  min-height: 90px;
  background-color: rgba(122, 102, 204, 0.7);
  border-radius: 20px 0px;
}

.news-descr {
  padding: 20px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  min-height: 48px;
}

.second .news-descr {
  width: 60%;
}

.third .news-descr {
  width: 70%;
}

/* info */

#info .container {
  position: relative;
  margin-bottom: 265px;
  width: 100%;
}

.info {
  margin-bottom: 238px;
}

#info .info::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 95px;
  width: 350px;
  height: 400px;
  background-image: url('../img/front-news.png');
  background-repeat: no-repeat;
  border-radius: 30px 0px;
  z-index: 50;
}

#info .info::after {
  content: "";
  position: absolute;
  top: 110px;
  right: 0;
  width: 350px;
  height: 400px;
  background-image: url('../img/back-news.png');
  background-repeat: no-repeat;
  border-radius: 30px 0px;
  z-index: 10;
}

.info-title {
  margin-bottom: 60px;
  padding-left: 94px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  background-image: url('../img/waves.svg');
  background-repeat: no-repeat;
  background-position: bottom 18px left;
}

.info-descr {
  margin-bottom: 61px;
  width: 540px;
  min-height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.info-descr:first-of-type {
  margin-bottom: 40px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
  min-height: 60px;
}

.info-item {
  padding-left: 50px;
  width: 250px;
  min-height: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
  color: var(--light);
  background-image: url('../img/purple-icon.svg');
  background-repeat: no-repeat;
}

.info-item:not(:nth-child(2)) {
  margin-right: 90px;
}

.info-item:not(:nth-child(3)),
.info-item:not(:nth-child(4)) {
  margin-bottom: 30px;
}

/* media */

#media {
  margin-bottom: 265px;
}

.media-fig {
  position: relative;
  margin: 0;
  padding: 50px 80px;
  width: 1110px;
  border: 1px solid var(--light);
  border-radius: 30px 0px;
}

.media-fig::after {
  content: "";
  position: absolute;
  top: -85px;
  right: 80px;
  width: 370px;
  height: 483px;
  background-image: url('../img/media-img.png');
  background-repeat: no-repeat;
  border-radius: 30px 0px;
  z-index: 5;
}

.media-cite {
  margin-bottom: 25px;
}

.media-cite p {
  padding-bottom: 25px;
  width: 520px;
  min-height: 130px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background-image: url('../img/quotes.svg');
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

blockquote {
  border: none;
}

.cite,
.cite:focus,
.cite:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--violet);
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.cite:hover {
  color: var(--violet);
  opacity: 0.7;
  text-decoration: none;
}

/* playlist */

#playlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 510px 60px 570px;
  grid-template-columns: 510px 570px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
  column-gap: 60px;
  margin-bottom: 210px;
  max-width: 100%;
}

#playlist .container {
  max-width: 100%;
}

.playlist-title {
  margin-bottom: 62px;
  padding-left: 94px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  background-image: url('../img/list-icon.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.player {
  position: relative;
  margin-bottom: 50px;
  --seek-before-width: 0%;
  --buffered-width: 0%;
}

.player__controls {
  position: relative;
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
}

.player__button {
  margin-right: 45px;
  width: 27px;
  height: 25px;
  fill: #fff;
  background-image: url('../img/play-button.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.player__button svg {
  visibility: visible;
}

.timeline__player {
  -webkit-appearance: none;
     -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  width: 317px;
  height: 1px;
  background-color: var(--light);
  background-size: 0% 100%;
  background-image: url('../img/seek-time.svg');
  background-image: url('../img/seek-time-violet.svg');
  background-repeat: no-repeat;
}

#current__player,
#duration__player {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
}

.timeline__player::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 2px;
  height: 20px;
  background-color: var(--violet);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  cursor: pointer;
}

.timeline__player::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  width: 2px;
  height: 20px;
  background-color: var(--violet);
  -moz-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
 }

.timeline__player::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.timeline__player::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.timeline__player::-ms-track {
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.player__time {
  display: inline-block;
}

#current__time,
.dash__player,
#duration__time {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
}

ol li {
  counter-increment: digits;
  content: "0" counter(digits);
}

ol li:before {
  content: "0" counter(digits);
}

ol {
  list-style: none;
  counter-reset: digits;
}

.player__playlist .player__song::before {
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.player__playlist {
  margin-bottom: 50px;
  padding-left: 0;
  min-height: 200px;
}

.player__title,
.player__title:focus,
.player__title:active {
  min-height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
  text-decoration: none;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.player__title:hover {
  text-decoration: none;
  color: var(--light);
  opacity: 0.7;
}

.player__song:not(:last-child) {
  margin-bottom: 20px;
}

.active__player,
.active__player:focus,
.active__player:active {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--violet);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.active__player:hover {
  text-decoration: none;
  color: var(--violet);
  opacity: 0.7;
}

.following {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow-title {
  margin-right: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.follow-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
}

.follow-item {
  padding-left: 40px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left bottom -5px;
  cursor: pointer;
}

.follow-item:first-child {
  margin-right: 30px;
  background-image: url('../img/spoty-icon.svg');
}

.follow-item:last-child {
  background-image: url('../img/apple-icon.svg');
}

.follow-link,
.follow-link:focus,
.follow-link:active {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: var(--light);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.follow-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/* photo-gallery */

#tours .container {
  margin-bottom: 180px;
  padding: 0;
  width: 1170px;
}

.gallery-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 30px 255px 30px 255px 30px 255px;
  grid-template-columns: repeat(4, 255px);
  -ms-grid-rows: 235px 30px 235px;
  grid-template-rows: repeat(2, 235px);
  gap: 30px;
}


.gallery-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.gallery-list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.gallery-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery-list > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.gallery-list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.gallery-item {
  min-height: 200px;
  border-radius: 30px 0px;
}

.one-grid,
.four-grid {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.four-grid {
  -ms-grid-column: 4;
  grid-column: 4;
}

.five-grid {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  padding-top: 100px;
  width: 540px;
  height: 235px;
  text-align: center;
  background-image: url('../img/tour-five.png');
  background-repeat: no-repeat;
  border-radius: 30px 0px;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.gallery-link {
  min-height: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--violet);
  cursor: pointer;
}

.gallery-link:focus,
.gallery-link:active  {
  text-decoration: none;
  color: var(--violet);
}

.gallery-link:hover  {
  text-decoration: none;
  color: rgba(122, 102, 204, 0.7);
}

/* slider splide */

.slider {
  margin-bottom: 180px;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.col-lg-1, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-md-1, 
.col-md-10, 
.col-md-11, 
.col-md-12, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-sm-1, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-xs-1, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.col-center {
	float: none !important;
}

.carousel .thumb-wrapper {
	display: block;
  position: relative;
  width: 350px;
  height: 473px;
  background-color: #2F2B2B;
  border-radius: 30px 0px;
  -o-object-fit: cover;
  object-fit: cover;   
}

.col-md-10 {
  width: 100%;
}

.carousel .item {
	overflow: hidden;
}

.tour-img {
  display: inline-block;
	max-width: 100%;
  border-radius: 30px 0px;
}

.tour-content {
	padding: 30px 35px 20px 35px;
}

.tour-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.5);
}

.tour-descr {
  margin-bottom: 46px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.time-tour {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.carousel .item .tour-link {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 18px;
  width: 180px;
  min-height: 60px;
	font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--violet);
  border-radius: 30px 0px;
  transition: color .3s ease-in-out;
}

.tour-link,
.tour-link:focus,
.tour-link:active {
  text-decoration: none;
  color: var(--light);
}

.tour-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.carousel .carousel-control {
  position: absolute;
	height: 60px;
	width: 40px;
  margin: auto 0;
  font-size: 0;
  text-shadow: none;
  background: none;	
  border: 1px solid var(--light);
  border-radius: 10px 0px;
  color: transparent;
}

.carousel .carousel-control.left {
  left: -80px;
}

.carousel .carousel-control.right {
  right: -80px;
}

.carousel .carousel-control i {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
}

.fa-angle-left:before {
  content: url('../img/arrow-prev.svg')
}

.fa-angle-right:before {
  content: url('../img/arrow-next.svg')
}

.carousel .carousel-control.left i {
	margin-left: -3px;
}

.carousel .carousel-control.right i {
	margin-right: -3px;
}

/* footer */

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  max-width: 100%;
}

.logo {
  margin-bottom: 60px;
}

.contacts-list {
  margin-bottom: 60px;
  max-width: 600px;
  min-height: 54px;
  border-spacing: 30px 1px;
}

.table-contacts {
  width: 50%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  color: var(--light);
}

.table-address {
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--light);
}

.footer-links {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
  min-height: 60px;
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
}

.footer-item a {
  display: block;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-color: #2C2C2C;
  border-radius: 50%;
}

.footer-item:not(:last-child) {
  margin-right: 30px;
}

.footer-item:first-child a {
  background-image: url('../img/apple-link.svg');
}

.footer-item:nth-child(2) a {
  background-image: url('../img/spoty-link.svg');
}

.footer-item:nth-child(3) a {
  background-image: url('../img/insta-link.svg');
}

.footer-item:nth-child(4) a {
  background-image: url('../img/youtube-link.svg');
}

.footer-item:nth-child(5) a {
  background-image: url('../img/twitter-link.svg');
}

.footer-item:nth-child(6) a {
  background-image: url('../img/fb-link.svg');
}

.copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1536px) {
  body {
    max-width: 1536px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  main {
    max-width: 1280px;
  }

  .col-md-10.col-center {
    max-width: 100%;
  }

  .row .carousel .carousel-control.left {
    left: -50px;
  }
  
  .row .carousel .carousel-control.right {
    right: -50px;
  }
}
